body{
    background-color: #F5CAB6;
}
header{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;


}
div.name{
    color : #8a95c3;
    background: radial-gradient(#97622C ,#6C401E );
    position: relative;
    top: -10pt;
    padding: 20pt;
    border-radius: 15px;
    font-size: 36pt;
}

/* header containing my name and nav bar*/
header *{
    margin: 10pt;
}

/* navagation bar */
nav{
    border-radius: 15px;
    border-color: black;
    border-width: 5pt;
    border-style: solid;
    background-color: #F9F5E0;
    text-align: left;
    padding : 10pt;
    font-size: 22pt
}
@media(width < 600px){
    nav{
        font-size: 16pt;
    }
    nav a{
        font-size : 14pt;
        padding-left : 5%;
        padding-right : 5%;

    }
}
/* navagiation buttons */
nav a{
    border-radius: 15px;
    border-color: black;
    border-width: 5pt;
    border-style: solid;


    padding-left: 10%;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 10%;
    text-align: center;
    font-size: 20pt;
    color: black;

    /* remove link stuff */
    text-decoration: none;
}
/* cause the nav buttons to glow */
nav a:hover{
    background-color: #f8ec9d;
}

#list{
    display: grid;
    grid-template-columns: 27.5% 67.5%;
}

*.projectbutton
{
    margin-top : 10pt;
    margin-bottom : 10pt;
    font-size: 3vw;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding : 1.5%;
}
#left
{
    margin-right : 2.5%;
    padding : 1.25%;
    background-color: #ab6132;
    border-radius: 5px;
}

*.game
{
    background-color: #baf2d8;
}
*.website
{
    background-color: #bad7f2 ;
}
*.research
{
    background-color: #f2bac9;
}
#toggleproject div.game:hover{
    background-color: #9ad2b8;
}
#toggleproject div.website:hover{
    background-color: #9ab7d2 ;
}
#toggleproject div.research:hover{
    background-color: #d29aa9;
}


h1
{
    text-align: center;
}
#project h3
{
    text-align : center;
    color : rgb(95, 95, 95);
}
#project
{
    border-radius: 10px;
    position: sticky;
    top: 20%;
    block-size : 78vh;
    padding : 2pt;
}
#link{
    position: absolute;
    top : 95%;
    right : 10%;
}
#photos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#skills
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin : 10pt;

}

*.photo{
    width : 20vw;
    margin : 5pt;
}
*.item{
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 2pt;
    margin: 2pt;
    padding: 2pt;
}
